.home {
    padding: 2rem 0 0 16rem;
}

.home .leftPointer{
    display: inline-block;
    margin: 0px 6px 0px -38px;
    position: relative;
    top: 3px;
}

.sideNav {
    background-color: #dde;
    left: 0rem;
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 100;
}

.sideNav.collapsed {
    left: -10rem;
}

.sideNav li {
    border-bottom: 1px solid #aac;
    list-style-type: none;
    margin: 0;
    padding: .75rem;
}

.sideNav li:hover {
    background-color: #eef;
}

.sideNav a {
    color: #000;
    font-size: 0.8rem;
    opacity: 1;
    text-decoration: none;
    transition: 0.5s;
}

.sideNav .menu {
    width: 10rem;
}

.sideNav .toggleButtonContainer {
    background-color: #dde;
    top: 0;
    left: 10rem;
    padding: 0.25rem 0.5rem;
    transition: 0.5s;
    position: absolute;
}

.sideNav .toggleButton {
    display: inline-block;
    transition: 0.5s;
}

.sideNav.collapsed .toggleButton {

    transform: rotate(-180deg);
}
