.sideNav {
    background-color: #ddd;
    flex-basis: 11rem;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.sideNav li {
    border-bottom: 1px solid #aaa;
    list-style-type: none;
    margin: 0;
    padding: .75rem;
}

.sideNav li:hover {
    background-color: #eee;
}

.sideNav a {
    color: #000;
    font-size: 0.8rem;
    opacity: 1;
    text-decoration: none;
    transition: 0.5s;
}

.sideNav .toggleButton {
    display: inline-block;
    transition: 0.5s;
}

.sideNav.collapsed {
    flex-basis: 10px;
    transition: 0.5s;
}

.sideNav.collapsed a {
    opacity: 0;
    transition: 0.5s;
}

.sideNav.collapsed .toggleButton {
    transform: rotate(-180deg);
    transition: 0.5s;
}
